body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ede8e2;
  background-color: #1f1e1c;
  font-family: "Playwrite DE Grund", cursive;
  height: 100vh; /*make the body container the full view height*/
}

#chat-container {
  width: 500px;
  max-width: 80%;
}
